#title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white; /* Did this by myself*/
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  color: white; /* Did all this by myself*/
}

.col-lg-6 img {
  margin-top: 100px;
  transform: rotate(20deg); /* Did all this by myself*/
}

.navbar-nav {
  font-size: 15px; /* Did all this by myself*/
}
